@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;600&family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* App global style variables */
:root {
  /* App light theme colors */
  --light-color-primary: #F1F1F1;
  --light-color-secondary: #EEEEEE;
  --light-color-tertiary: #428E5B;
  --light-color-quaternary: #3D3E3C;
  --light-color-quinary: #4F4F4F;

  /* App font families */
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Hind Vadodara", sans-serif;
  --font-tertiary: "Kanit", sans-serif;
}

/* App global styles */
* {
  scroll-behavior: smooth;
}

body, .root, #root {
  background-color: var(--light-color-secondary);
  font-size: 20px;
  color: var(--color-quaternary);
  font-family: var(--font-primary);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

strong {
  color: var(--light-color-tertiary); 
}

button {
  cursor: pointer;
  border-radius: 5px;
  padding: 1%;
}
/* button hover */
button:hover {
  animation: smooth-button-gradient 2s linear;
}

input:focus, textarea:focus {
  transition: all 0.1s ease-in-out;
  border: 1px solid var(--light-color-tertiary);
  outline: none;
}

/* App primary font */
.font-primary-extralight {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.font-primary-light {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.font-primary-regular {
  font-family: var(--font-primary);
  font-weight: 350;
  font-style: normal;
}

.font-primary-semibold {
  font-family: var(--font-primary);
  font-weight: 600;
  font-style: normal;
}

.font-primary-bold {
  font-family: var(--font-primary);
  font-weight: 800;
  font-style: normal;
}

/* App secondary font */ 
.font-secondary-light {
  font-family: var(--font-secondary);
  font-weight: 300;
  font-style: normal;
}

.font-secondary-regular {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-style: normal;
}

.font-secondary-semibold {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-style: normal;
}

/* App tertiary font */
.font-tertiary-light {
  font-family: var(--font-tertiary);
  font-weight: 200;
  font-style: normal;
}

.font-tertiary-regular {
  font-family: var(--font-tertiary);
  font-weight: 300;
  font-style: normal;
}

.font-tertiary-semibold {
  font-family: var(--font-tertiary);
  font-weight: 400;
  font-style: normal;
}

/* App color schemes */
.color-primary {
  background: var(--light-color-primary);
  color: var(--light-color-quaternary);
}

.color-secondary {
  background: var(--light-color-secondary);
  color: var(--light-color-quaternary); 
}

.color-quaternary {
  background: var(--light-color-quaternary);
  color: var(--light-color-primary);
}

.color-quinary {
  background: var(--light-color-quinary);
  color: var(--light-color-secondary);
}

/* App animations */
@keyframes smooth-button-gradient {
  from {
    background: linear-gradient(
      0deg,
      var(--light-color-secondary), 33%, 
      var(--light-color-primary));
  }

  to {
    background: linear-gradient(
      0deg, 
      rgb(209, 209, 209), 1%, 
      var(--light-color-secondary), 33%, 
      var(--light-color-primary));
  }
}

@keyframes lang-dropdown-menu {
  0% {
    visibility: hidden;
    transform: translateY(-75%);
  }
  
  1% {
    visibility: visible;
    opacity: 100;
  }

  100% {
    transform: translateY(0);
  }
}

/* @keyframes skill-icon-motion {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(200%, 100%, 0);
  }

  100% {
    transform: translate3d(500%, 40%, 0);
  }
} */

@keyframes card-change-position {
  
}

@keyframes card-reach-top {
  from {
    transform: translate3d(0,0,0);
  }

  to {
    transform: translateX(10%, 1%, 10);
  }
}

@keyframes card-top-to-bottom {
  0% {
    z-index: 10;
    opacity: 100;
    transform: translateX(0);
  }

  25% {
    opacity: 100;
    transform: translateX(1%);
  }

  50% {
    opacity: 80;
  }

  70% {
    z-index: 5;
    opacity: 50;
  }

  80% {
    z-index: 2;
    opacity: 20;
    transform: translate3d(-30%, 0, 0);
  }

  100% {
    z-index: 0;
    opacity: 100;
    transform: translate3d(0, 0, 0);
  }
}


@keyframes card-apparition {
  from {
    opacity: 0;
  }

  33% {
    opacity: 80;
    transform: rotate(2deg);
  }

  66% {
    opacity: 90;
    transform: rotate(calc(-2deg));
  }

  to {
    opacity: 100;
    transform: rotate(0deg);
  }
  
}

@keyframes cards-stack-apparition {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
} 

@keyframes fade-out {
  0% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}
