@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;600&family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* App global style variables */
:root {
  /* App light theme colors */
  --light-color-primary: #F1F1F1;
  --light-color-secondary: #EEEEEE;
  --light-color-tertiary: #428E5B;
  --light-color-quaternary: #3D3E3C;
  --light-color-quinary: #4F4F4F;

  /* App font families */
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Hind Vadodara", sans-serif;
  --font-tertiary: "Kanit", sans-serif;
}

/* App global styles */
* {
  scroll-behavior: smooth;
}

body, .root, #root {
  background-color: var(--light-color-secondary);
  font-size: 20px;
  color: var(--color-quaternary);
  font-family: var(--font-primary);
}

strong {
  color: var(--light-color-tertiary); 
}

/* App primary font */
.font-primary-extralight {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.font-primary-light {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.font-primary-regular {
  font-family: var(--font-primary);
  font-weight: 350;
  font-style: normal;
}

.font-primary-semibold {
  font-family: var(--font-primary);
  font-weight: 600;
  font-style: normal;
}

.font-primary-bold {
  font-family: var(--font-primary);
  font-weight: 800;
  font-style: normal;
}

/* App secondary font */ 
.font-secondary-light {
  font-family: var(--font-secondary);
  font-weight: 300;
  font-style: normal;
}

.font-secondary-regular {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-style: normal;
}

.font-secondary-semibold {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-style: normal;
}

/* App tertiary font */
.font-tertiary-light {
  font-family: var(--font-tertiary);
  font-weight: 200;
  font-style: normal;
}

.font-tertiary-regular {
  font-family: var(--font-tertiary);
  font-weight: 300;
  font-style: normal;
}

.font-tertiary-semibold {
  font-family: var(--font-tertiary);
  font-weight: 400;
  font-style: normal;
}

/* App color schemes */
.color-primary {
  background: var(--light-color-primary);
  color: var(--light-color-quaternary);
}

.color-secondary {
  background: var(--light-color-secondary);
  color: var(--light-color-quaternary); 
}

.color-quaternary {
  background: var(--light-color-quaternary);
  color: var(--light-color-primary);
}

.color-quinary {
  background: var(--light-color-quinary);
  color: var(--light-color-secondary);
}

/* App animations */
@keyframes lang-dropdown-menu {
  0% {
    visibility: hidden;
    transform: translateY(-75%);
  }
  
  1% {
    visibility: visible;
    opacity: 100;
  }

  100% {
    transform: translateY(0);
  }
}