@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;600&family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);

  /* App light theme colors */
  --light-color-primary: #F1F1F1;
  --light-color-secondary: #EEEEEE;
  --light-color-tertiary: #428E5B;
  --light-color-quaternary: #3D3E3C;
  --light-color-quinary: #4F4F4F;

  /* App font families */
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Hind Vadodara", sans-serif;
  --font-tertiary: "Kanit", sans-serif;
}

* {
  scroll-behavior: smooth;
}

/* App primary font */
.font-primary-extralight {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.font-primary-light {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.font-primary-regular {
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: normal;
}

.font-primary-semibold {
  font-family: var(--font-primary);
  font-weight: 600;
  font-style: normal;
}

.font-primary-bold {
  font-family: var(--font-primary);
  font-weight: 700;
  font-style: normal;
}

/* App secondary font */ 
.font-secondary-light {
  font-family: var(--font-secondary);
  font-weight: 300;
  font-style: normal;
}

.font-secondary-regular {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-style: normal;
}

.font-secondary-semibold {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-style: normal;
}

.font-tertiary-light {
  font-family: var(--font-tertiary);
  font-weight: 200;
  font-style: normal;
}

.font-tertiary-regular {
  font-family: var(--font-tertiary);
  font-weight: 300;
  font-style: normal;
}

.font-tertiary-semibold {
  font-family: var(--font-tertiary);
  font-weight: 400;
  font-style: normal;
}


.pink__gradient {
  background: linear-gradient(150deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -text-fill-color: transparent;
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.color-primary {
  background: var(--light-color-primary);
  color: var(--light-color-quaternary);
}

.color-secondary {
  background: var(--light-color-secondary);
  color: var(--light-color-quaternary); 
}

.color-quaternary {
  background: var(--light-color-quaternary);
  color: var(--light-color-primary);
}

.color-quinary {
  background: var(--light-color-quinary);
  color: var(--light-color-secondary);
}

body, #root {
  background: var(--color-primary);
  color: var(--color-quaternary);
  font-family: var(--font-primary);
}

.background-image {
  background-image: url("./assets/stary_night_forest.jpg");
}
